<header>
  <div>
    <h5>order for table {{item}}</h5>
    <button type="submit" class="btn btn-primary" (click)="addClick()"><i class="fas fa-plus"></i>add</button>
    <button type="submit" class="btn btn-danger" (click)="delete()" [hidden]="selectedForDeleteList.length === 0" ><i class="fas fa-trash" ></i>add</button>
  </div>
</header>
<hr />
<div [hidden]='showCreateForm'>
  <form [formGroup]="orderItemForm">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="menudeopdown" class="mb-1 font-waight-bold small">select menu</label>
          <select class="form-control" id="menudeopdown" #myselect formControlName="menuId"
              (change)="menuSelected(myselect.value)">
              <option value="" disabled selected >--select--</option>

              <option [value]="item._id" *ngFor="let item of menuList">{{item.name}}</option>
          </select>
      </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="fooddropdown" class="mb-1 font-waight-bold small">select food</label>
          <select class="form-control" id="fooddropdown" formControlName="food">
              <option value="" disabled selected >--select--</option>
              <option [value]="item._id" *ngFor="let item of foodList">{{item.food}}</option>
          </select>
      </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="lname" class="mb-1 font-waight-bold small">quantity</label>
          <input type="number" class="form-control" id="lname" formControlName="quantity">

        </div>

      </div>
      <div class="col-md-2">
        <br>
        <button type="submit" class="btn btn-primary" (click)="addorderItem()">save</button>

      </div>
    </div>

  </form>
</div>


<div class="row">
  <div class="col-12 table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>select</th>
          <th>index</th>
          <th>Food item</th>
          <th>quntity</th>
          <th>actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orderItems">
          
          <td><input type="checkbox" name="" (change)="selectForDelete(orderItems.indexOf(item))" id=""></td>
          <td>{{orderItems.indexOf(item) + 1}}</td>
          <td>{{item.food}}</td>
          <td>{{item.quantity}}</td>
          <td>
            <a (click)="edit(item._id)" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-pen ml-2"></i></a>
          </td>
        </tr>


      </tbody>
    </table>
  </div>
  <!-- /.col -->
</div>