<header>
  <div class="d-flex justify-content-between">
    <h5>order for table {{item}}</h5>
    <div [hidden]="showInvoice"  [formGroup]="NoGuestForm" class="form-inline">
        <label for="nog" class="small">number of gusts :- </label>
        <input formControlName="NoOfGuests" id="nog" class="form-control" min="1" max="8" type="number" style="width: 80px;">

    </div>
  </div>
</header>
<hr />
<section [hidden]='showInvoice'>
    <form [formGroup]="orderItemForm">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="menudeopdown" class="mb-1 font-waight-bold small">select menu</label>
            <select class="form-control" id="menudeopdown" #myselect formControlName="menuId"
              (change)="menuSelected(myselect.value)">
              <option value="selectMenu" disabled selected>-- select menu --</option>

              <option [value]="item._id" *ngFor="let item of menuList">{{item.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="fooddropdown" class="mb-1 font-waight-bold small">select food</label>
            <select class="form-control" id="fooddropdown" formControlName="foodId">
              <option value="selectFood" disabled selected>-- select food --</option>
              <option [value]="item._id" *ngFor="let item of foodList">{{item.food}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="lname" class="mb-1 font-waight-bold small">quantity</label>
            <input type="number" [min]="1" class="form-control" id="lname" formControlName="quantity">
          </div>

        </div>
        <div class="col-md-2">
          <br>
          <button type="submit" class="btn btn-primary" (click)="addorderItem()">save</button>

        </div>
      </div>

    </form>



  <div class="row">
    <div class="col-12 table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="width:5%">select</th>
            <th style="width:5%">index</th>
            <th style="width:50%">Food item</th>
            <th style="width: 20%">quntity</th>
            <th style="width: 10%">actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of orderItems">

            <td><input type="checkbox" name="" (change)="selectForDelete(orderItems.indexOf(item))" id=""></td>
            <td>{{orderItems.indexOf(item) + 1}}</td>
            <td>{{item.foodName}}</td>
            <td *ngIf="!item.isEdit"><a style="display: block;"
                (click)="forEdit(orderItems.indexOf(item))">{{item.quantity}}</a></td>
            <td *ngIf="item.isEdit" [formGroup]="inlineEditForm">
              <!-- <input type="number" style="width: 100px;" name="editQuntity" ngModel> -->
              <input formControlName="inlineEdit" type="number" style="width: 80px;">
            </td>
            <td>
              <a (click)="updateQuntity(orderItems.indexOf(item))" class="btn"><i class="fa fa-check"
                  [ngStyle]="{'color': (item.isEdit) ? 'green' : 'rgb(169,169,169)'}"></i></a>

              <a (click)="abortInlineEdit()"><i class="fa fa-times"
                  [ngStyle]="{'color': (item.isEdit) ? 'red' : 'rgb(169,169,169)'}"></i></a>
            </td>
          </tr>


        </tbody>
      </table>
      <button  *ngIf="orderItems.length > 0" type="submit" class="btn btn-primary" style="margin-right: 5px;" (click)="shiftPages()"><i class="fas fa-file" aria-hidden="true"></i> show invoice</button>
      <button *ngIf="orderItems.length > 0" type="submit" class="btn btn-primary" style="margin-right: 5px;" (click)="cancellOrder()"><i class="fas fa-ban" aria-hidden="true"></i> cancell order</button>
      <button *ngIf="selectedForDeleteList.length > 0" type="submit" class="btn btn-danger" (click)="delete()"><i class="fas fa-trash"></i> delete selected</button>
    </div>
    <!-- /.col -->
  </div>

</section>
<!----------------------------------------------------- invoice --------------------------------------------------------------------------->

<section class="content" [hidden]='!showInvoice'>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">


        <!-- Main content -->
        <div class="invoice p-3 mb-3">
          <!-- title row -->
          <div class="row">
            <div class="col-12">
              <h4>
                <i class="fas fa-globe"></i> Maheta Ji, Inc.
                <small class="float-right">Date: 2/10/2014</small>
              </h4>
            </div>
            <!-- /.col -->
          </div>
          <!-- info row -->
          <div class="row invoice-info">

            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
              <br>
              <b>table no:</b> {{item}}
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-12 table-responsive">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th>Food item</th>
                    <th>price</th>
                    <th>quntity</th>
                    <th>unit total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of orderItems">
                    <td>{{item.foodName}}</td>
                    <td>{{item.price|currency:"INR":"symbol"}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.unitPrice|currency:"INR":"symbol"}}</td>
                  </tr>

                </tbody>
              </table>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->

            <!-- /.col -->
            <div class="col-6">
              <p class="lead">Amount Due 2/22/2014</p>

              <div class="table-responsive">
                <table class="table table-bordered">
                  <tr>
                    <th style="width:50%">Subtotal:</th>
                    <td>{{currentOrderTotal|currency:"INR":"symbol"}}</td>
                  </tr>
                  <tr>
                    <th>c GST (9.3%)</th>
                    <td>{{(currentOrderTotal/100)*9.3|currency:"INR":"symbol"}}</td>
                  </tr>
                  <tr>
                    <th>s GST (9.3%)</th>
                    <td>{{(currentOrderTotal/100)*9.3|currency:"INR":"symbol"}}</td>
                  </tr>
                  <tr>
                    <th>amount incl all texes:</th>
                    <td>{{currentOrderTotal+(currentOrderTotal/100)*18.6|currency:"INR":"symbol"}}</td>
                  </tr>
                </table>
              </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- this row will not appear when printing -->
          <div class="row no-print">
            <div class="col-12">
              <!-- <button type="submit" class="btn btn-success float-right" (click)="onClick()"><i class="far fa-credit-card" ></i>{{buttonText}}</button> -->
              <button type="submit" class="btn btn-primary float-right" style="margin-right: 5px;" ><i class="fas fa-file-pdf"></i> save PDF</button>
              <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;" (click)="saveInvoice()"><i class="fas fa-bookmark"></i> save invoice</button>
              <button type="button" class="btn btn-primary" (click)="shiftPages()"><i class="fas fa-arrow-left" aria-hidden="true"></i> go back</button>

            </div>
          </div>
        </div>
        <!-- /.invoice -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>