<div class="hold-transition login login-page">


  <div class="login-box">
    
    <!-- /.login-logo -->
    <div class="card blur">
      <div class="card-body login-card-body">

        <div class="text-center">
          <img src="/assets/dist/img/old-man.png"
            style="width: 185px;" alt="logo">
          <h4 class="mt-1 pb-1">maheta ji</h4>
        </div>
        <form method="post" [formGroup]="loginForm">
          <div class="input-group mb-3">
            <input type="email" defaultChecked="rango@gmail.com" class="form-control"
              [ngClass]="{'is-invalid' : loginForm.controls['email'].invalid && submitted}" placeholder="Email"
              formControlName="email">
            <div class="input-group-append">

              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
            <div class="invalid-feedback" *ngIf="loginForm.controls['email'].invalid && submitted">
              <span *ngIf="loginForm.controls['email'].errors['required']">required</span>
              <span *ngIf="loginForm.controls['email'].errors['email']">email is not valid</span>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" defaultValue="p@ssw0rd123"
              [ngClass]="{'is-invalid':loginForm.controls['password'].invalid && submitted}" placeholder="Password"
              formControlName="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <div class="invalid-feedback" *ngIf="loginForm.controls['password'].invalid && submitted">
              <span *ngIf="loginForm.controls['password'].errors['required']">required</span>
            </div>
          </div>
          <div class="row">
            <div class="col-8">

            </div>
            <!-- /.col -->
            <div class="col-12">
              <button *ngIf="!showLoading" type="submit" (click)="loginFormsubmit()" class="btn btn-primary btn-block">Sign In</button>
              <button *ngIf="showLoading" class="btn btn-primary btn-block disabled">
                <i class="fa fa-spinner fa-spin"></i>Loading
              </button>
            </div>
            <!-- /.col -->

            
          </div>
        </form>

      </div>
      <!-- /.login-card-body -->
    </div>

    <br>
    <div class="card">
      <div class="card-header">
        crendiantials
      </div>
      <div class="card-body">
        <p>admin@gmail.com | p@ssw0rd123</p>
        <p>rango@gmail.com | p@ssw0rd123</p>

      </div>
    </div>
  </div>
</div>