<div class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a style="text-decoration: none"><b>maheta </b>ji</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <form method="post" [formGroup]="loginForm">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" formControlName="email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" formControlName="password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              
            </div>
            <!-- /.col -->
            <div class="col-12">
              <button type="submit" (click)="loginFormsubmit()" class="btn btn-primary btn-block">Sign In</button>
            </div>
            <!-- /.col -->
          </div>
        </form>

        <p class="mb-1">
          <a class="small" style="text-decoration: none;cursor:pointer;">forgot password</a>
        </p>
        
      </div>
      <!-- /.login-card-body -->
    </div>

    <br>
    <div class="card">
      <div class="card-header">
        crendiantials
      </div>
      <div class="card-body">
        <p>admin@gmail.com | p@ssw0rd123</p>
        <p>rango@gmail.com | p@ssw0rd123</p>

      </div>
    </div>


  </div>
</div>