<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>tables</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">admin</a></li>
          <li class="breadcrumb-item active">tables</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<div class="text-center">
  <div *ngIf="tableList.length === 0" class="spinner-border " style="width: 6rem; height: 6rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<section class="content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-12 col-sm-6 col-md-3" *ngFor="let item of tableList">
            <!-- small box -->
            <div class="small-box" [ngClass]="item.occupied ? 'bg-info':''">
              <div class="inner">

            <h3>{{item.tableNumber}}</h3>
                <p>Capacity:- {{item.capacity}}</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a type="button" data-toggle="modal" data-target=".bd-example-modal-lg" class="small-box-footer" [text]="item.occupied ? 'order info':'create order'" (click)="selectedtable(item._id)"> <i [ngClass]="item.occupied ? 'fa fa-info':'fa fa-plus'"></i> </a>
            </div>

      </div>
    </div>
  </div>


  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <app-order-and-invoice [item]="selectedTableNo" [tableId]="selectedTableId" (updateTableList)="loadTables()"></app-order-and-invoice>
        </div>
      </div>
    </div>
  </div>