<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Invoice list</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">admin</a></li>
          <li class="breadcrumb-item active">menu</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>


<section class="content">
  <div class="container-fluid">

    <div class="card">

      <!-- /.card-header -->
      <div class="card-body">

        <!-- -- -- -- -- -- -- -- -- -- -- form -- -- -- -- -- -- -- -->





        <hr class="hr" />
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>table number</th>
              <th>Date</th>
              <th>time</th>
              <th>sub total</th>
              <th>amount including tax</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of invoiceList">
              <td>{{item.tableNumber}}</td>
              <td>{{item.createdAt|date}}</td>
              <td>{{item.createdAt| date:"HH:mm:ss"}}</td>
              <td>{{item.subTotal}}</td>
              <td>{{item.totalAmount}}</td>
              <td><a  (click)="showInfo(item._id)" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-info-circle"></i></a></td>

            </tr>


          </tbody>
        </table>




        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <p>data will be shown here</p>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- -- -- -- -- -- -- -- -- -- -- form -- -- -- -- -- -- -- -->

      </div>

    </div>
    <!-- /.card -->
    <!-- /.row -->

  </div><!-- /.container-fluid -->
</section>




<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">


              <!-- Main content -->
              <div class="invoice p-3 mb-3">
                <!-- title row -->
                <div class="row">
                  <div class="col-12">
                    <h4>
                      <i class="fas fa-globe"></i> Maheta Ji, Inc.
                      <small class="float-right">Date: 2/10/2014</small>
                    </h4>
                  </div>
                  <!-- /.col -->
                </div>
                <!-- info row -->
                <div class="row invoice-info">

                  <!-- /.col -->
                  <div class="col-sm-4 invoice-col">
                    <br>
                    <b>table no:</b> {{invoiceDetail.tableNumber}}
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->

                <!-- Table row -->
                <div class="row">
                  <div class="col-12 table-responsive">
                    <table class="table table-sm">
                      <thead>
                        <tr>
                          <th>Food item</th>
                          <th>price</th>
                          <th>quntity</th>
                          <th>unit total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of invoiceDetail.orderItems">
                          <td>{{item.foodName}}</td>
                          <td>{{item.quantity}}</td>
                          <td>{{item.unitPrice|currency:"INR":"symbol"}}</td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class="row">
                  <!-- accepted payments column -->

                  <!-- /.col -->
                  <div class="col-6">
                    <p class="lead">Amount Due 2/22/2014</p>

                    <div class="table-responsive">
                      <!-- <table class="table table-bordered">
                        <tr>
                          <th style="width:50%">Subtotal:</th>
                          <td>{{invoiceDetail.subTotal|currency:"INR":"symbol"}}</td>
                        </tr>
                        <tr>
                          <th>c GST (9.3%)</th>
                          <td>{{invoiceDetail.sGst|currency:"INR":"symbol"}}</td>
                        </tr>
                        <tr>
                          <th>s GST (9.3%)</th>
                          <td>{{invoiceDetail.sGst|currency:"INR":"symbol"}}</td>
                        </tr>
                        <tr>
                          <th>amount incl all texes:</th>
                          <td>{{invoiceDetail.Total|currency:"INR":"symbol"}}</td>
                        </tr>
                      </table> -->
                    </div>
                  </div>
                  <!-- /.col -->
                </div>

              </div>
              <!-- /.invoice -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
    </div>
  </div>
</div>