<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Invoice list</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">admin</a></li>
          <li class="breadcrumb-item active">menu</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>


<section class="content">
  <div class="container-fluid">

    <div class="card">

      <!-- /.card-header -->
      <div class="card-body">

        <!-- -- -- -- -- -- -- -- -- -- -- form -- -- -- -- -- -- -- -->





        <!-- <hr class="hr" />
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>table number</th>
              <th>Date</th>
              <th>time</th>
              <th>sub total</th>
              <th>amount including tax</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of invoiceList">
              <td>{{item.tableNumber}}</td>
              <td>{{item.createdAt|date}}</td>
              <td>{{item.createdAt| date:"HH:mm:ss"}}</td>
              <td>{{item.subTotal}}</td>
              <td>{{item.totalAmount}}</td>
              <td><a (click)="showInfo(item._id)" data-toggle="modal" data-target=".bd-example-modal-lg"><i
                    class="fas fa-info-circle"></i></a></td>

            </tr>


          </tbody>
        </table> -->

        <table mat-table [dataSource]="invoiceList" class="mat-elevation-z8">

          <!-- Position Column -->
          <ng-container matColumnDef="tableNumber">
            <th mat-header-cell *matHeaderCellDef>table No. </th>
            <td mat-cell *matCellDef="let element"> {{element.tableNumber}} </td>
          </ng-container>
        
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> date </th>
            <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
          </ng-container>
        

        </table>
        
        




        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <p>data will be shown here</p>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- -- -- -- -- -- -- -- -- -- -- form -- -- -- -- -- -- -- -->

      </div>

    </div>
    <!-- /.card -->
    <!-- /.row -->

  </div><!-- /.container-fluid -->
</section>




