<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Menu master</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">admin</a></li>
          <li class="breadcrumb-item active">menu</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>


<section class="content">
  <div class="container-fluid">

    <div class="card">

      <!-- /.card-header -->
      <div class="card-body">

        <!-- -- -- -- -- -- -- -- -- -- -- form -- -- -- -- -- -- -- -->


        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"
          (click)="onCancell()">
          add menu
        </button>



       <hr class="hr" />
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>menu Title</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of menuList">
              <td>{{item.name}}</td>
              <td>{{item.description}}</td>
              <td>
                <a (click)="edit(item._id)" data-toggle="modal" data-target="#exampleModalCenter"><i class="fas fa-pen ml-2"></i></a>
                <a (click)="delete(item._id)" type="submit"><i class="fas fa-trash ml-2"></i></a>
              </td>
            </tr>


          </tbody>
        </table> 






        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <!-- -- -- -- -- -- -- -- -- -- -- form -- -- -- -- -- -- -- -->


                <form [formGroup]="menuMasterForm">

                  <div class="form-group">
                    <label for="name">menu name</label>
                    <input type="email" class="form-control" id="name" placeholder="Title for menu"
                      formControlName="name">
                  </div>

                  <div class="form-group">
                    <label for="name">description</label>
                    <textarea type="email" class="form-control" id="name" placeholder="Title for menu"
                      formControlName="description"></textarea>
                  </div>

                </form>

                <!-- -- -- -- -- -- -- -- -- -- -- form -- -- -- -- -- -- -- -->

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" (click)="onSubmit()"
                  data-dismiss="modal">{{buttonText}}</button>
              </div>
            </div>
          </div>
        </div>

        <!-- -- -- -- -- -- -- -- -- -- -- form -- -- -- -- -- -- -- -->

      </div>

    </div>
    <!-- /.card -->
    <!-- /.row -->

  </div><!-- /.container-fluid -->
</section>