<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>create order</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">admin</a></li>
                    <li class="breadcrumb-item active">food</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<section class="content">
    <div class="container-fluid">

        <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row justify-content-end">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-block btn-info btn-xs" data-toggle="modal"
                            data-target="#exampleModalCenter"><i class="fas fa-plus" (click)="modealcalled()"></i> add item</button>
                    </div>
                    <div class="col-md-2">
                        <a type="button" class="btn btn-block btn-warning btn-xs" (click)="cancellOrder()"><i
                                class="fas fa-ban"></i> cancell order</a>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-block btn-warning btn-xs" (click)="genrateInvoice()" [routerLink]="['/invoice']" [queryParams]="{selectedTableId}"><i class="fas fa-clipboard"></i> genrate invoice</button>
                    </div>
                </div>


                <br>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Food Item</th>
                            <th style="width: 40px">Quntity</th>
                            <th style="width: 40px">combined price</th>
                            <th style="width: 40px">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of orderItems">
                            <td>{{item.foodName}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.unitPrice}}</td>
                            <td>
                                <a (click)="edit(item._id)" data-toggle="modal" data-target="#exampleModalCenter"><i
                                        class="fas fa-pen ml-2"></i></a>  
                                <a (click)="delete(item._id)" type="submit"><i class="fas fa-trash ml-2"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.card -->

        <!---------------------------- /.modal -------------------------------------------------->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <!-- -- -- -- -- -- -- -- -- -- -- form -- -- -- -- -- -- -- -->


                        <form [formGroup]="orderItemForm">

                            <div class="form-group">
                                <label for="menudeopdown" class="mb-1 font-waight-bold small">select menu</label>
                                <select class="form-control" id="menudeopdown" #myselect
                                    (change)="menuSelected(myselect.value)">
                                    <option value="" disabled selected >--select--</option>

                                    <option [value]="item._id" *ngFor="let item of menuList">{{item.name}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="fooddropdown" class="mb-1 font-waight-bold small">select food</label>
                                <select class="form-control" id="fooddropdown" formControlName="foodId">
                                    <option value="" disabled selected >--select--</option>
                                    <option [value]="item._id" *ngFor="let item of foodList">{{item.food}}</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="mb-1 font-weight-bold small" for="name">quantity</label>
                                <input type="number" class="form-control" min="1" id="name" placeholder="Title for menu"
                                    formControlName="quantity">
                            </div>
                        </form>

                        <!-- -- -- -- -- -- -- -- -- -- -- form -- -- -- -- -- -- -- -->

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" (click)="onSubmit()"
                            data-dismiss="modal">{{buttonText}}</button>
                    </div>
                </div>
            </div>
        </div>



        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>