<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>tables</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">admin</a></li>
            <li class="breadcrumb-item active">tables</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

<div class="col-md-3 col-sm-6 col-12">
    <div class="info-box">
      <!-- <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span> -->
      <span class="info-box-icon bg-gradient-warning"><h1>01</h1></span>

      <div class="info-box-content">
        <span class="info-box-number">status Ocupied</span>
        <span class="info-box-number">ocupation Time</span>
        <span class="info-box-number">number of guests</span>
        <button type="button" class="btn btn-block btn-info btn-sm">new order</button>

      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>

  <div class="col-md-3 col-sm-6 col-12">
    <div class="info-box">
      <!-- <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span> -->
      <span class="info-box-icon bg-gradient-success"><h1>02</h1></span>

      <div class="info-box-content">
        <span class="info-box-number">status Ocupied</span>
        <span class="info-box-number">ocupation Time</span>
        <span class="info-box-number">number of guests</span>
        <button type="button" class="btn btn-block btn-info btn-sm">Info</button>

      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
