<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>create table</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">admin</a></li>
          <li class="breadcrumb-item active">food</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>


<section class="content">
  <div class="container-fluid">

    <div class="card">
      <div class="card-header">
        <h3 class="card-title">table details</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">

            <!-- -- -- -- -- -- -- -- -- -- -- form -- -- -- -- -- -- -- -->


        <form [formGroup]="tableForm">
          <div class="row">
            <div class="col-lg-2">
              <div class="form-group">
                <label for="tablenumber" style="margin-bottom: 0;font-size: small;">Table Number</label>
                <input formControlName="tableNumber" id="tablenumber" type="text" class="form-control">
                <!-- <p>{{tableForm.controls.capacity.errors|json}}</p> -->
              </div>
              <!-- /input-group -->
            </div>
            <div class="col-lg-2">
              <div class="form-group">
                <label for="tablenumber" style="margin-bottom: 0;font-size: small;">capacity</label>
                <input type="number" formControlName="capacity" class="form-control" name="capacity">
              </div>
              <!-- /input-group -->
            </div>

            <div class="col-lg-1 col">
              
              <button type="submit" (click)="onSubmit()" class="btn btn-block btn-info btn-xs" style="margin-top: 20px;">{{buttonText}}</button>
        
            </div>
            
              <div class="col-lg-1 col">
             
              <button type="button" (click)="onCancell()" class="btn btn-block btn-danger btn-xs" style="margin-top: 20px;">X</button>

              <!-- /input-group -->
          </div>
            <!-- /.col-lg-6 -->
          </div>
        </form>

            <!-- -- -- -- -- -- -- -- -- -- -- form -- -- -- -- -- -- -- -->


        <hr class="hr" />
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>table number</th>
              <th >sitting capacity</th>
              <th >Actions</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let item of TablesList">
              <td>{{item.tableNumber}}</td>
              <td>{{item.capacity}}</td>
              <td>
                <a (click)="edit(item._id)"><i class="fas fa-pen ml-2"></i></a>
                <a (click)="delete(item._id)" type="submit"><i class="fas fa-trash ml-2"></i></a>
              </td>
            </tr>


          </tbody >
        </table>

        <br>
        <div class="row justify-content-end">
          <div class="col-md-2">
            <button type="button" class="btn btn-block btn-info btn-xs"><i class="fas fa-table"></i> tables</button>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-block btn-info btn-xs"><i class="fas fa-book"></i> invoice</button>
          </div>
        </div>
      </div>

    </div>
    <!-- /.card -->
    <!-- /.row -->

  </div><!-- /.container-fluid -->
</section>